@import "tailwindcss";

:root {
  --color-bg: #111111;
  --color-text: #ffffff;
  --color-blue: #091d9e;
  --color-violet: #750dc5;
  --color-light-blue: #bcc5ff;
  --color-white: #f6f6f6;
  --color-gray: #c1c1c1;
  --color-black: #0c0c0c;
  --color-yellow: #ebba1a;
  --color-red: red;
}
